In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Attendance_Sheet.csv')

In [3]:
df

,Date,Time,Home,Away,Attendance,Venue
0,20 November 2022,19:00 (21:30),Qatar,Ecuador,"67,372",Al Bayt Stadium
1,21 November 2022,16:00 (18:30),England,Iran,"45,334",Khalifa International Stadium
2,21 November 2022,19:00 (21:30),Senegal,Netherlands,"41,721",Al Thumama Stadium
3,21 November 2022,22:00 (00:30),USA,Wales,"43,418",Ahmed bin Ali Stadium
4,22 November 2022,13:00 (15:30),Argentina,Saudi Arabia,"88,012",Lusail Iconic Stadium
...,...,...,...,...,...,...
59,10 December 2022,22:00 (00:30),England,France,"68,895",Al Bayt Stadium
60,13 December 2022,22:00 (00:30),Argentina,Croatia,"88,966",Lusail Iconic Stadium
61,14 December 2022,22:00 (00:30),France,Morocco,"68,294",Al Bayt Stadium
62,17 December 2022,18:00 (20:30),Croatia,Morocco,"44,137",Khalifa International Stadium
63,18 December 2022,18:00 (20:30),Argentina,France,"88,966",Lusail Iconic Stadium

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        64 non-null     object
 1   Time        64 non-null     object
 2   Home        64 non-null     object
 3   Away        64 non-null     object
 4   Attendance  64 non-null     object
 5   Venue       64 non-null     object
dtypes: object(6)
memory usage: 3.1+ KB

In [5]:
df.shape

(64, 6)

In [6]:
df.Home.value_counts()

Home
Argentina         5
Croatia           4
France            4
Netherlands       4
England           4
Portugal          3
Japan             3
Morocco           3
Brazil            3
Qatar             2
Korea Republic    2
Cameroon          2
Poland            2
Tunisia           2
Wales             2
Belgium           2
Spain             2
Uruguay           1
Iran              1
Ghana             1
Costa Rica        1
Canada            1
Saudi Arabia      1
Australia         1
Senegal           1
Ecuador           1
Switzerland       1
USA               1
Denmark           1
Mexico            1
Germany           1
Serbia            1
Name: count, dtype: int64

In [7]:
df['Attendance'] = df['Attendance'].str.replace(',', '').astype(int)

In [8]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [9]:


# Assuming df is already loaded and df['Date'] is datetime

# Match Stage
df['Match_Stage'] = pd.cut(df.index, bins=[-1, 47, 55, 59, 61, 62, 63],
                           labels=['Group Stage', 'Round of 16', 'Quarterfinals', 'Semifinals', 'Third Place', 'Final'])

# Day of Week
df['Weekday'] = df['Date'].dt.day_name()

# Country (for this dataset, all in Qatar)
df['Country'] = 'Qatar'

In [10]:
df

,Date,Time,Home,Away,Attendance,Venue,Match_Stage,Weekday,Country
0,2022-11-20,19:00 (21:30),Qatar,Ecuador,67372,Al Bayt Stadium,Group Stage,Sunday,Qatar
1,2022-11-21,16:00 (18:30),England,Iran,45334,Khalifa International Stadium,Group Stage,Monday,Qatar
2,2022-11-21,19:00 (21:30),Senegal,Netherlands,41721,Al Thumama Stadium,Group Stage,Monday,Qatar
3,2022-11-21,22:00 (00:30),USA,Wales,43418,Ahmed bin Ali Stadium,Group Stage,Monday,Qatar
4,2022-11-22,13:00 (15:30),Argentina,Saudi Arabia,88012,Lusail Iconic Stadium,Group Stage,Tuesday,Qatar
...,...,...,...,...,...,...,...,...,...
59,2022-12-10,22:00 (00:30),England,France,68895,Al Bayt Stadium,Quarterfinals,Saturday,Qatar
60,2022-12-13,22:00 (00:30),Argentina,Croatia,88966,Lusail Iconic Stadium,Semifinals,Tuesday,Qatar
61,2022-12-14,22:00 (00:30),France,Morocco,68294,Al Bayt Stadium,Semifinals,Wednesday,Qatar
62,2022-12-17,18:00 (20:30),Croatia,Morocco,44137,Khalifa International Stadium,Third Place,Saturday,Qatar
63,2022-12-18,18:00 (20:30),Argentina,France,88966,Lusail Iconic Stadium,Final,Sunday,Qatar

In [13]:
df.to_excel('Attendance_Modified.xlsx', index=False)

In [14]:
df.to_csv('Attendance_Modified.csv', index=False)